@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Kavivanar');
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background: #0044ff;
}

h1 {
    color: #da5555;
    text-shadow: 2px 2px 2px #fff;
    font-family: 'Lobster';
    font-size: 3vw;
    background: url(accordion.png) no-repeat left top;
    background-size: 6vw;
    padding-top: 1vw;
    padding-left: 7vw;
    height: 100%;
}

main {
    margin: 20px auto;
    width: 75%;
    line-height: 1.5;
    font-family: 'Kavivanar';
    display: grid;
    grid-gap: 30px;
    user-select:none;
    -moz-user-select: none;
    -ms-user-select:none;
    -o-user-select:none;
    -webkit-user-select: none;
}

section {
    background: #efefef;
    box-shadow: 0px 0px 25px #00000088;
    -moz-box-shadow: 0px 0px 25px #00000088;
    -webkit-box-shadow: 0px 0px 25px #00000088;
    border-radius: 10px;
    overflow: hidden;
}

section.all {
    width: 8%;
    text-align: center;
    position: relative;
    left: 67vw;
    cursor: pointer;
}

.title {
    font-weight: bold;
    font-size: 2vw;
    padding: 10px 20px;
    background: #dadada;
    display: grid;
    grid-template-columns: auto 3vw;
}

.title .fas {
    color: #db9f9f;
    font-size: 3vw;
    text-shadow: 2px 2px 2px #00000044;
    /* display: none; */
}

.title:hover {
    background: #da5555;
    cursor: pointer;
}

.title:hover .fas {
    display: block;
}

.description {
    font-family: 'Dancing Script';
    font-size: 2vw;
    text-align: justify;
    padding: 10px 20px;
    display: none;
    /* transition: all 2s; */
}

/* .description.opened {
    display: block;
} */